/* 64em is also 1028px (if basefont is 16px), so these settings hold if screen resolution is 1028px or higher. */

/*--------- Start of Media Query, all changes within this bracket will hold screens larger than 1028px. --------------*/
@media only screen and (min-width: 64rem) { 

/*----------------BODY------------------*/



/*---------------LIST--------------------*/

#outputList { /* the # is for 'id', in this case id="outputList" */
    margin: 1rem, 10rem, 1rem, 10rem ; /* values go clockwist: top-right-bottom-left */
    border: 10px;
    border-color: red;
}



} /*------- End of Media Query ---------*/